
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>MyWebsite</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="../static/images/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">
	

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	
	<div id="fh5co-header" style="background-image: url(static/images/polygon.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="bio-photo text-center">
			<a href="index.html"><img src="../static/images/person_2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
		</div>
	</div>

	<div id="fh5co-main">

		<div class="fh5co-section fh5co-works">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>01. My Works</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a href="../static/images/img_1.jpg" class="image-popup" title="Title Of Work Here"><img src="../static/images/img_1.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a href="../static/images/img_2.jpg" class="image-popup" title="Title Of Work Here"><img src="../static/images/img_2.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a href="../static/images/img_3.jpg" class="image-popup" title="Title Of Work Here"><img src="../static/images/img_3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></a>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 work animate-box">
								<a href="../static/images/img_4.jpg" class="image-popup" title="Title Of Work Here"><img src="../static/images/img_4.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->

		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>02. About Me</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-md-12">
							<p>Hello, I'm <strong>John Doe</strong>, an experienced designer and full-stack developer with over 10 years of hands-on experience in the tech industry. I specialize in crafting visually compelling and highly functional web applications that provide seamless user experiences across all platforms. Over the years, I've honed my skills in both front-end and back-end technologies, becoming proficient in HTML, CSS, JavaScript, React, and Vue.js, as well as server-side languages like Python (Flask, Django) and Node.js.</p>

<p>I have worked with a wide range of clients, from startups to large corporations, delivering projects that not only meet but exceed expectations. My design philosophy revolves around creating user-centric interfaces, where form meets function in a beautiful symphony of colors, typography, and interactive elements. Whether it's building a complex e-commerce platform, a dynamic SaaS solution, or a simple personal website, I always strive for excellence and innovation in every project I take on.</p>

<p>Beyond the technical aspects, I'm a strong advocate of agile methodologies and believe in the power of collaboration. I have led cross-functional teams through the entire product development lifecycle, from ideation and wireframing to deployment and post-launch support. My ability to communicate complex technical concepts to non-technical stakeholders has allowed me to bridge the gap between design, development, and business goals.</p>

<p>In addition to my technical expertise, I am passionate about staying ahead of industry trends. I am constantly learning new tools and technologies to enhance my skillset, whether it be experimenting with new JavaScript frameworks, diving into mobile app development, or exploring the latest design trends in UI/UX. I believe that continuous learning and adaptability are key to thriving in the ever-evolving world of technology.</p>

<p>When I'm not coding or designing, I enjoy sharing my knowledge with others through workshops, blogs, and mentoring. I find great fulfillment in helping aspiring developers and designers grow in their careers, and I am always open to opportunities to collaborate on exciting new projects.</p>

<p>In short, I am a passionate, dedicated, and experienced designer and developer who loves to tackle new challenges and deliver exceptional digital experiences. If you're looking for someone to turn your vision into reality, let's collaborate!</p>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>03. Contact</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="col-md-12">
							<form action="/submit" method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
            </div>
            <div class="col-md-6">
                <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <textarea name="message" cols="30" class="form-control" rows="10" placeholder="Message" required></textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary btn-outline btn-lg btn-block" value="Submit">
            </div>
        </div>
    </div>
</form>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


		<div class="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 section-heading">
						<h2>04. Copyright</h2>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="col-md-12">
							<p>&copy;2024. All Rights Reserved. <br> Designed by <a href="#" target="_blank">Me</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- END .fh5co-section -->


	

	</div>


	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>

	<!-- Stellar -->
	<script src="../static/js/jquery.stellar.min.js"></script>

	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>

	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/magnific-popup-options.js"></script>
	
	<!-- MAIN JS -->
	<script src="../static/js/main.js"></script>

    </div>
	</body>
</html>

